

/* here we set the image to the background.*/
html  {
    background: url(../images/14.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  /* container block is the rectangle in the middle of our page. we use grid 
  to set the items in the required order. */
  /* we also have set the font, color and the size of the container division.*/
.container {
    font-family: "Inter", serif;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;

    margin-left: 30vmax;
    margin-right: 30vmax;
    margin-top: 10vmax;

    grid-gap: 10px;
    font-size: 1.1em;

    display: grid;
    grid-template-columns: auto auto;
    background-color: #2196F3;

    border-radius: 25px;
  }
/* form 1 is responsible for sending the name and getting the result.*/
  .form1 {
    grid-row-start: 1;
    grid-row-end: 2;
  }

/* saving the result - also ordering the items in grid*/
  .form2 {
    grid-row-start: 2;
    grid-row-end: 3;

  }